table td,th
{
    border-radius: 3px;
    width: 70px;
    height: 50px;
}

th:first-child
{
    text-align: start!important;
    background-color: rgb(110, 160, 240) !important;
}

th:nth-child(-n+6)
{
    text-align: center;
    background-color: rgb(70, 140, 240);
}

th:last-child
{
    background-color: rgb(160, 160, 160);
}

td
{
    text-align: center;
}

td:first-child
{
    text-align: start;
    background-color: rgb(110, 160, 240) !important;
}

tbody td:nth-child(-n+6)
{
    background-color: rgb(155, 190, 245);
}

tbody td:last-child
{
    background-color: rgb(175, 180, 145);
}

tfoot td img
{
    border-radius: 3px;
}

#red
{
    color:darkred;
    font-weight: bold;
}